.container {
  max-width: 1200px;
  margin: auto;
  .posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .spinner {
    display: flex;
    justify-content: center;
  }
}
